
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Nav bar */

.menu {
    position: fixed;
    align-items: center;
    z-index: 10000;
    background-color: rgb(14, 13, 13);
    width: 100%;
    justify-content: center;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 70% 35%;
    box-shadow: 0 5px 5px;
}

.social-icon-ap {
    font-weight: 700;
    align-items: center;
    width: 2em;
    font-size: 1.2em;
}

.icon-div,.social-icon-ap {
    display: flex;
    flex-direction: column;
    gap: .5em;
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 20em;
    align-items: center;
}

.social-icon-ap a {
    background-image: linear-gradient(to top, #74ebd5 0%, #9face6 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    transition: 1s;
    font-size: 1.3em;
}

.social-icon-ap a:nth-child(1):hover {
    background-image: linear-gradient(to top, #6d6eca 0%, #0077b7 80%);
}

.social-icon-ap a:nth-child(2):hover {
    background-image: linear-gradient(to top, #6d6eca 0%, #5c6bc0 80%);
}

.social-icon-ap a:nth-child(3):hover {
    background-image: linear-gradient(to top, #ffc400 0%, #ff0015 80%);
    transition: 700ms;
}

.social-icon-ap a:hover {
    transform: scale(1.2);
    transition: 400ms;
}

.dados {
    display: grid;
    grid-template-columns: 62% 38% 0%;
    align-items: center;
    
}

.nav-menu {
    display: flex;
    gap: 4em;
    align-items: center;
    justify-self: end;
}

.nav-link {
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 400ms;
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.nav-link:hover {
    scale: 1.2;
    transition: 400ms;
}

.user-icon {
    width: 35px;
    position: relative;
}

.user-lista {
    position: fixed;
    opacity: 0;
    top: 7vh;
    right: -40vh;
    background-color:  rgb(14, 13, 13);
    padding: 1em;
    margin-right: 1em;
    box-shadow: 0 5px 5px black;
    transition: 400ms;
    z-index: 2000000;
}

.user-link {
    color: white;
    font-weight: 500;
    justify-self: end;
}

.user-link:hover {
    font-weight: 700;
    color: white;
    transition: all 400ms;
}

.ola {
    font-weight: 500;
}

.menu-user-ativo {
    top: 7vh;
    right: -3vh;
    transition: 400ms;
    opacity: 1;
    scale: 1;
    z-index: 2000000;
}

.user-cabecalho {
    display: flex;
    font-weight: 700;
    color: white;
    font-size: 22px;
    gap: .5em;
    align-items: center;
    justify-self: end;
    right: 1em;
    cursor: pointer;
    transition: 500ms;
    position: fixed;
}

.menu-lateral, .img-lateral, .cabecalho, .menu-link {
    display: none;
}

@media screen and (max-width: 480px) {
    .menu {
        display: none;
    }

    .cabecalho {
        position: fixed;
        display: flex;
        width: 100%;
        padding: 15px 25px;
        box-shadow: 0px 4px 4px black;
        justify-content: space-between;
        background: #101011;
        z-index: 1000;
    }

    .img-lateral {
        display: block;
        width: 120px;
    }

    button {
    border: none;
    background-color: unset;
    }

    .menu-lateral {
        gap: 1em;
        display: flex;
        flex-direction: column;
        background-color: #111314;
        width: 80%;
        height: 100%;
        position: fixed;
        transition: 400ms;
        align-items: flex-start;
        left: -200vh;
        box-shadow: 10px 4px 4px black;
    }

    .menu-lateral-ativo {
        left: 0;
        transition: 400ms;
        z-index: 100;
    }

    .menu-link {
        margin-top: 300px;
        font-size: 75px;
        font-weight: bold;
        height: 10vh;
        color: #feffff;
        padding-left: 64px;
        display: flex;
        align-items: center;
    }

    .by-joao {
        font-size: 50px;
        margin-top: 15em;
        place-self: center;
    }

    .user-mobile {
        display: block;
        width: 100px;
        height: 100px;
        align-self: center; 
        padding: 2em;
    }

    .user {
        font-size: 4em;
        font-weight: 700;
        justify-self: center;
        align-self: center;
        color: white;
    }

    .user-lista {
        position: fixed;
        top: 30vh;
        opacity: 1;
        right: -80vh;
        scale: 3;
        justify-self: end;
        z-index: 100;
        transition: 400ms;
        position: fixed;
        background-color: #111314;
        box-shadow: -5px 5px 4px black;
        padding: 1em;
    }

    .menu-user-ativo {
        right: 20vh;
        transition: 400ms;
        opacity: 1;
        top: 30vh;
    }
}

/* Apresentação */

.apresentação{
    scroll-snap-align: start;
    font-size: 25px;
    width: 1000px;
    margin: auto auto;
    padding-top: 10em;
    padding-bottom: 2.5em;
}   

.dev {
    font-style: italic;
    margin-bottom: 2em;
}

h2{
    font-weight: bold;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;            
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
}

h1{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 30px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
}

.joao {
    grid-column: 1;
    grid-row: 2 / span 1;
    justify-content: center;
    align-items: center;
}

.contato {
    grid-column: 1;
    grid-row: 2;
}

.ap {
    margin-top: 3em;
    opacity: 0;
    transition: all 1s;
    transform: translateY(-50%);
}

.ap p {
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.dados p {
    line-height: 2em;
}

p {
    font-size: 23px;
    color: white;
    line-break: strict;

}

.foto{
    border-radius: 100%;
    width: 250px;
    float:left;
    transition: 400ms;
    margin: 0 20px 20px 0;
    overflow: hidden;
}
 
.foto:hover{
    opacity: 0.7;
    transition: 400ms;
}

.social {
    display: flex;
    gap: 25px;
}

#botao-social {
    align-items: center;
    background: none;
    border: 2px solid transparent;
    border-color: purple;
    border-image-slice: 1;
    color: #0077b7;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    width: 170px;
    height: 35px;
    transition: all 500ms;
    border-radius: 20px;
}

#botao-social:hover {
    transform: scale(1.1);
    border-color: blueviolet;
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgb(0, 0, 0);
}

.social-icons {
    width: 21px;
}

.dados p, a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(192, 192, 192);
}

.dados p:hover{
    color: white;
    font-weight: 700;
}

/* Conhecimentos */

.conhecimentos{
    scroll-snap-align: start;
    min-height: 100vh;
    margin: auto auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden-conhecimentos{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-50%);
    display: flex;
    margin-top: 4em;
    margin-bottom: 5em;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.conhecimentos_icons{
    width: 80px;
    padding: 30px 40px;
    transition: 400ms;
    padding-top: 0;
}

.conhecimentos_icons:hover{
    opacity: 0.5;
    transform: scale(1.2);
    transition: 400ms;

}

/* Projetos */

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115vh;
    border-radius: 10px;
    height: 55vh;
}

.swiper-pagination {
    position: initial;
}

.swiper-pagination-bullet {
    background: violet;
    width: 10px;
    height: 10px;
}

.swiper-button-prev {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 12.8em;
    left: 13em;
}

.swiper-button-prev::after{
    content: none;
}

.swiper-button-next {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 12.8em;
    left: 14.5em;
}

.swiper-button-next::after{
    content: none;
}

.projetos {
    scroll-snap-align: start;
    min-height: 100vh;
    margin: auto auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-image {
    grid-area: image;
}
.card-text {
    grid-area: text;
}
.play-source {
    grid-area: play; 
}
.tec {
    grid-area: play;
}

/* linkway */
.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 160px 70px;
    grid-template-areas: "image" "text" "play";
    border-radius: 15px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: #101011;
    text-align: center;
    border: 4px solid #101011;
}

.card-image {
    grid-area: image;
    background: url(src/linkway.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card:hover .card-image {
    background-image: url(src/linkway.gif);
}


#linkway p {
    margin-top: 1.3em;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text p {  
    color: rgb(0, 0, 0);
    font-size:18px;
    font-weight: bold;
}

.card-text h3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom:5px;
    
    font-size:28px;
}

.card:hover {
    transform: scale(1.1);
}


.card:hover .tec img{
    opacity: 1;
}

.card {
    transition: all 0.5s ease;
    margin:30px;
}

.play-source {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3.5rem;
    margin-right: 1.4em;
    margin-left: 1.4em;
    margin-top: 0.5em;
    transition: all 0.5s ease;
    scale: 1.2;
}

.play-img {
    width: 40px;
}

.play-source img {
    cursor: pointer;
    transition: all 0.5s;
}

.play-source img:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.tec {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1em;
    transition: all 0.5s ease;
}

.tec img {
    opacity: 0;
    scale: 1.5;
    transition: all 0.5s ease;
}

.tec img:hover {
    transform: scale(2);
    transition: all 0.5s ease;
}

/* pong */

#card-pong {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.card-image-pong {
    grid-area: image;
    background: url(src/pong.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover .card-image-pong {
    background: url(src/pong.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card-pong p{
    margin-top: 2em;
}

/* Bau */

#card-bau {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.card-image-bau {
    grid-area: image;
    background: url(src/closed.png);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 200ms;
}

.card:hover .card-image-bau {
    transition: 300ms;
    background: url(src/open.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card-bau h3 {
    font-size: 20px;
}

#card-bau p {
    font-size: 18px;
}

/* Card 4 */

#card-4 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.card-image-4 {
    grid-area: image;
    background: url(src/monkey-working.gif);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size:cover;
 
}

#card-numero {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.card-image-numero {
    grid-area: image;
    background: url(../img/numero-secreto.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size:cover;
    background-position: center;
}

#card-numero h3 {
    font-size: 20px;
}

/* Certificados */
#Certificados{
    scroll-snap-align: start;
    font-size: 25px;
    min-height: 70vh;
    width: 1000px;
    margin: auto auto;
    padding-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.vitrine{
    margin-top: 5em;
    margin-bottom: 5em;
    transition: 400ms;
    scale: 0.8;

}

.vitrine:hover{
    transform: scale(1.1);
    transition: 400ms;

}

.certificados {
    margin-top: 3em;
    opacity: 0;
    transition: all 1s;
    transform: translateY(-50%);
}

/* Rodapé */
footer{
    background-color: black ;
    box-shadow: 0 -20px 50px 10px black;
    text-align: start;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.footer-li {
    color: rgb(212, 212, 212);
    line-height: 2em;
    font-weight: 700;
    border-left: solid 1px white ;
    padding-left: 2em;
    font-size: 1.1em;
}

.footer-li a {
    color: rgb(212, 212, 212);

}

.footer-li a:hover {
    color: white;
}

.copyright{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon_footer{
    padding: 0 .5em 0 .5em;
    width: 2%;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    html{
        scroll-behavior: smooth;
        scroll-snap-type: none;
    }

    main {
        padding-left: 2em;
    }

    .foto {
        width: 400px;

        top: 20vh;
        justify-content: end;
        margin: 0;
        padding: 0;
    }

    .joao {
        padding-top: 1em;
    }

    h1 {
        font-size: 80px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h2 {
        font-size: 85px;
    }

    p {
        font-size: 55px;
    }

    .apresentação {
        padding-top: 250px;
        padding-bottom: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .dados {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .social-icon-ap {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        justify-content: center;
        width: 100%;
        font-size: 3em;
    }
 
    .icon-div {
        width: 100%;
    }

    .dados p {
        font-size: 45px;
    }

    #botao-social {
        width: 310px;
        height: 120px;
        font-size: 45px;
        border-radius: 100px;
    }

    #botao-social:active {
        transform: scale(-0.5);
    }

    .social-icons {
        width: 50px;
    }

    .hidden-conhecimentos {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        column-gap: 14.5rem;
        row-gap: 8rem;
    }

    .conhecimentos_icons {
        width: 150px;
    }

    .conhecimentos {
        width: 1000px;
        min-height: 250vh;
        margin: auto auto;
        font-size: 25px;
        place-items: center;
        align-content: center;
        padding-top: 3em;
    }

    .projetos {
        width: 1000px;
        min-height: 230vh;
        margin: auto auto;
        font-size: 25px;
        gap: 5em;
    }

    .swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }

    .swiper-pagination-bullet {
        background: violet;
        width: 30px;
        height: 30px;
        z-index: 0;
    }

    .swiper-pagination {
        z-index: 0;
        position: initial;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }

    .swiper-button-prev {
        display: none;
    }
    
    .swiper-button-next {
        display: none;
    }
    
    .card {
        grid-template-rows: 500px 560px 170px;
        height: 100%;
    }

    .card:hover {
        transform: none;
    }

    .card h3 {
        font-size: 60px;
    }

    .card p {
        font-size: 50px;
    }

    #card-bau h3 {
        font-size: 60px;
    }
    
    #card-bau p {
        font-size: 50px;
        margin-top: 2em;
    }

    .play-source img:hover {
        transform: none;
    }

    .tec img {
        opacity: 1;
        scale: 0.6;
    }

    .play-source {
        justify-content: space-between;
        align-items: end;
        display: flex;
        flex-direction: row;
        transition: all 0.5s ease;
        scale: 1.5;
        padding: 0 8em 2em 8em;
    }
    
    .play-img {
        width: 80px;
    }

    #Certificados{
        width: 1000px;
        font-size: 25px;
        min-height: 200vh;
        width: 1000px;
        margin: auto auto;
        padding-top: 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .vitrine {
        margin-top: 5em;
        margin-bottom: 5em;
        transition: 400ms;
        width: 500px;
    }

    footer {
        width: 1050px;
        height: 150px;
        gap: 1em;
        display: flex;
        flex-direction: column;
    }

    .copyright {
        font-size: 2.5em;
    }

    .footer-li {
        font-size: 2.5em;
        border: none;
        color: rgb(212, 212, 212);
    }

    .footer-li a {
        font-size: 1em;
    }

}